@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-image: url(data-url:./asset/bg-login-2.jpeg);
    background-color: rgba(129, 126, 126, 0.7);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-position: center;
}

.root {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    min-height: 100dvh;
    text-align: center;
}